@import url(./materialIcons.css);

.file-item, .folder-item {
    width: 110px;
    height: fit-content;
    cursor: pointer;
    border: solid 4px transparent;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color .2s,
                background-color .2s .2s,
                opacity .2s;
}
.file-item.selected {
    background-color: #ECEFF1;
    border-color: #B0BEC5;
}
.folder-item.selected,
.folder-item.dropable {
    background-color: #FFF9C4;
    border-color: #FFEE58;
}
.folder-item.dropable {
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}

.file-item > .item-icon,
.folder-item > .item-icon {
    height: 1em;
    line-height: 1em;
    text-align: center;
}
.file-item > .item-icon {
    color: #455A64;
    font-size: 80px;
}
.folder-item > .item-icon {
    color: #F9A825;
    font-size: 80px;
}

.item-name {
    display: -webkit-box;
    overflow: hidden;    
    -webkit-box-orient: vertical;

    margin: -4px 4px 4px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}

/* 
    When parent node is focused,
    show the full content of `.file-name`.
*/
.file-item.selected .item-name,
.folder-item.selected .item-name {
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 2;
}
.file-item.draging,
.folder-item.draging {
    opacity: .75;
}