@import url(./materialIcons.css);

.file-item, .folder-item {
    width: 112px;
    height: fit-content;
    padding: 2px 12px 4px;
    cursor: pointer;
    border: solid 4px transparent;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color .2s,
                background-color .2s .2s;
}
.file-item.selected {
    background-color: #ECEFF1;
    border-color: #B0BEC5;
}
.folder-item.selected {
    background-color: #FFF9C4;
    border-color: #FFEE58;
}

.file-item > .item-icon {
    color: #455A64;
    font-size: 80px;
}
.folder-item > .item-icon {
    color: #F9A825;
    font-size: 80px;
}

.item-name {
    width: 100px;
    margin-top: -12px;
    margin-left: -10px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

/* 
    When parent node is focused,
    show the full content of `.file-name`.
*/
.file-item.selected .item-name,
.folder-item.selected .item-name {
    word-break: break-all;
    white-space: normal;
}