header {
    position: relative;
    display: flex;
    padding: 8px 24px;
    background-color: white;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

#path {
    flex: 1;
    height: 32px;
    margin: 0 4px 0 16px;
    padding: 4px 8px;
    font-family: monospace;
    color: #666;
    background-color: #ECEFF1;
    border: solid 1px #999;
    border-radius: 4px;
    line-height: 30px;
    user-select: none;
    transition: color .2s,
                border-color .2s;
}
#path:hover {
    color: #333;
    border-color: #666;
}

/* Delete Area */
#delete-area {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    font-size: 48px;
    text-align: center;
    line-height: 56px;
    background-color: #FF5722;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}
#delete-area.active {
    opacity: .35;
    pointer-events: auto;
}
#delete-area.dropable {
    opacity: .75;
}